
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.sign-container {
     
  width: 350px;                         
  margin: 50px auto;                    
  padding: 20px;                       
  border-radius: 10px;                  
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: left;                     
     
}
.sign-container h1 {
  text-align: center;                  
  margin-bottom: 20px;                 
  font-size: 24px;                     
                    
}
.sign-container label
 {
  display: block;                      
  margin-top: 10px;                    
  font-weight: bold;                   
 
}
#asterisk 
{
  color: red;                         
}
.sign-container input[type="password"] {
  width: 100%;                          
  padding: 10px;                       
  margin-top: 5px;                      
  border: 1px solid #ccc;            
  border-radius: 5px;                  
  font-size: 14px;                    
}
.btn 
{
   background-color: #007bff;          
  border: none;                        
  color: white;                  
  padding: 10px 15px;               
  text-align: center;                
  margin-top: 15px;                  
  width: 100%;    
  font-weight: bold;                     
  border-radius: 5px;                   
  font-size: 16px;                    
  cursor: pointer;                     
  transition: background-color 0.3s ease; 
}
.btn:hover {
  background-color: #45a049;      
}
.sign-container p {
  margin-top: 15px;                    
  font-weight: bold;                 
  text-align: center;                  
}
.cross-btn
{
  position: absolute; 
  top: 164px;
  right: 604px;
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
 
}
.cross-btn:hover
{
  
   color: red;
  background-color: rgba(255, 0, 0, 0.1);
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.3); 
}